<div class="panel-heading"><h2>Items that you want to donate:</h2></div>
	
	<table class ="table">
	
	<tr>
		<th>Items</th>
		<th>Quantity</th>
	</tr>
    
    <% @items.each do |item| %>

        <span class="item"> 
       	<tr>
       		<td><%= item[:content] %></td>
        	<td><%= item[:quantity] %></td>
       </span>
        
        <span class="pull-right">
        
          <td>
          <a href="/delete/<%= item[:id] %>" class="btn btn-danger">Delete</a></td>
      	</tr>
        </span>
    <% end %>
</table>
<center>
<a href="/new" class="btn btn-primary">Do you wish to donate more?</a>
<a href="/ph" class="btn btn-primary">Take some things?</a>
</center>