<div class="jumbotron">
  <class = "h4">We need your help! If you have any spare food products, please feel free to
  	donate via the box below!</h4>
</div>

<br>

<form action="/new" class="form-inline" method="POST">
  <input type="text" placeholder="Donate item" name="content">
  <input type="text" placeholder="How many items?" name="quantity">
  <button type="submit" class="btn">Post</button>
</form>